# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Firebase secrets
*service-account*.json
firebase-debug.log

# Python
__pycache__/
*.py[cod]
.venv/
.env

# IDE
.idea/
.vscode/
